@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: rgb(255 176 209),
  $surface-tint: rgb(255 176 209),
  $on-primary: rgb(83 29 56),
  $primary-container: rgb(110 51 79),
  $on-primary-container: rgb(255 216 230),
  $secondary: rgb(225 189 202),
  $on-secondary: rgb(65 42 51),
  $secondary-container: rgb(89 63 74),
  $on-secondary-container: rgb(254 217 230),
  $tertiary: rgb(241 187 152),
  $on-tertiary: rgb(73 40 15),
  $tertiary-container: rgb(99 62 35),
  $on-tertiary-container: rgb(255 220 198),
  $error: rgb(255 180 171),
  $on-error: rgb(105 0 5),
  $error-container: rgb(147 0 10),
  $on-error-container: rgb(255 218 214),
  $background: rgb(25 17 20),
  $on-background: rgb(238 223 226),
  $surface: rgb(25 17 20),
  $on-surface: rgb(238 223 226),
  $surface-variant: rgb(80 67 72),
  $on-surface-variant: rgb(212 194 199),
  $outline: rgb(157 140 146),
  $outline-variant: rgb(80 67 72),
  $shadow: rgb(0 0 0),
  $scrim: rgb(0 0 0),
  $inverse-surface: rgb(238 223 226),
  $inverse-on-surface: rgb(55 46 49),
  $inverse-primary: rgb(137 74 103),
  $primary-fixed: rgb(255 216 230),
  $on-primary-fixed: rgb(57 7 35),
  $primary-fixed-dim: rgb(255 176 209),
  $on-primary-fixed-variant: rgb(110 51 79),
  $secondary-fixed: rgb(254 217 230),
  $on-secondary-fixed: rgb(42 21 30),
  $secondary-fixed-dim: rgb(225 189 202),
  $on-secondary-fixed-variant: rgb(89 63 74),
  $tertiary-fixed: rgb(255 220 198),
  $on-tertiary-fixed: rgb(48 20 1),
  $tertiary-fixed-dim: rgb(241 187 152),
  $on-tertiary-fixed-variant: rgb(99 62 35),
  $surface-dim: rgb(25 17 20),
  $surface-bright: rgb(64 55 58),
  $surface-container-lowest: rgb(19 12 15),
  $surface-container-low: rgb(33 25 28),
  $surface-container: rgb(37 29 32),
  $surface-container-high: rgb(48 40 43),
  $surface-container-highest: rgb(59 50 53)
);

html,
body {
  background-color: #000;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
